@media (max-width:600px){
    .logo__png{
        width: 100px;
    }
    
    .header__top-text{
        font-size: 10px;
    }
    .section__yarik{
        font-size: 17px;
    }
    .section__input{
        width: 146px;
    }
    .navbar-brand {
        margin-left: 0;
    }
}